<div class="parallax">

<!-- Contact Section -->
<section id="contact">
  <div class="container" style="height: 610px">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact us</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="name"><b>Name</b></label>
              <input type="text" class="form-control" placeholder="IAH School" id="name" required data-validation-required-message="Please enter your name." disabled>
              <!--<p class="help-block text-danger"></p>-->
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="email"><b>Email Address</b></label>
              <input type="email" class="form-control" placeholder="sah.azal@gmail.com" id="email" required data-validation-required-message="Please enter your email address." disabled>
              <!--<p class="help-block text-danger"></p>-->
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="phone"><b>Phone Number</b></label>
              <input type="tel" class="form-control" placeholder="+(92) 21 2030870 " id="phone" required data-validation-required-message="Please enter your phone number."disabled>
              <!--<p class="help-block text-danger"></p>-->
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label for="phone"><b>Facebook Address</b></label>
              <input type="email" class="form-control" placeholder="www.facebook.com/iahschool" id="email" disabled>
              <!--<p class="help-block text-danger"></p>-->
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

</div>


<!--&lt;!&ndash;<p>&ndash;&gt;-->
<!--&lt;!&ndash;Contact-Us&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->

<!--<ul class="nav nav-tabs" role="tablist">-->
  <!--<li class="presentation active">-->
    <!--<a class="color-pink cursor-pointer active" (click)="staticModal1.show()" role="tab">Reviews About You</a>-->
  <!--</li>-->
  <!--<li class="presentation">-->
    <!--<a class="color-pink cursor-pointer" (click)="staticModal2.show()" role="tab">ReviewsBy You</a>-->
  <!--</li>-->
<!--</ul>-->


<!--<div class="modal fade" bsModal #staticModal1="bs-modal" [config]="{backdrop: 'static'}"-->
     <!--tabindex="-1" role="tab" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog modal-sm">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="staticModal1.hide()">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title" style="text-align: center">Sign-Up as a?</h4>-->
      <!--</div>-->
      <!--<div class="modal-body" style="text-align: center">-->
        <!--<button type="button" class="btn btn-primary">Teacher</button>-->
        <!--<button type="button" class="btn btn-primary">Student</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="modal fade" bsModal #staticModal2="bs-modal" [config]="{backdrop: 'static'}"-->
     <!--tabindex="-1" role="tab" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog modal-sm">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="staticModal2.hide()">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title" style="text-align: center">Sign-Up as a?</h4>-->
      <!--</div>-->
      <!--<div class="modal-body" style="text-align: center">-->
        <!--<button type="button" class="btn btn-primary">Teacher</button>-->
        <!--<button type="button" class="btn btn-primary">Student</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
