.parallax {
  /* The image used */
  background-image: url("/src/images/ba.jpg");
  /*background-image: url("img/background/bg3.jpg");*/
  /* Set a specific height */
  height: 100%;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
