<div class="parallax pad-t-20">
  <div class="container-fluid margin-t-30">
    <div row>
      <div class="col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading"><h4>Staff Rights</h4></div>
          <div class="panel-body">
            <ul class="font-size-20 pad-l-0">
              <li class="cursor-pointer" (click)="changeStep('student')">Student</li>
              <li class="cursor-pointer" (click)="changeStep('teacher')">Teacher</li>
              <li class="cursor-pointer" (click)="changeStep('staff')">Staff</li>
              <li class="cursor-pointer" (click)="changeStep('campus')">Campus</li>
              <li class="cursor-pointer" (click)="changeStep('course')">Course</li>
              <li class="cursor-pointer" (click)="changeStep('fee')">Fees</li>
              <li class="cursor-pointer" (click)="changeStep('result')">Result</li>
            </ul>
            <button type="button" class="btn btn-red" style="position: relative; float: left" (click)="loggingout()">Log Out</button>
            <button (click)="changeStep('personalInfo')" type="button" class="btn btn-primary" style="position: relative; float: right; width: 60%; height: 36px; background-color: green">
            View Profile
            </button>
          </div>
        </div>
      </div>

      <!--Profile -->


      <div *ngIf="stepValue=='personalInfo'"
           class="active">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading"><h4>Staff Profile</h4></div>
              <div class="panel-body">
                <form #personalInfoForm="ngForm">

                  <div class="form-group">
                    <div class="col-md-2">
                      <label class="font-size-20">
                        Staff Id :
                      </label>
                    </div>
                    <div class="col-lg-10 margin-b-30">
                      <input type="text" id="id" name="id" class="form-control" [(ngModel)]="adminData.id" disabled>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-2">
                      <label class="font-size-20">
                        First Name :
                      </label>
                    </div>
                    <div class="col-lg-10 margin-b-30">
                      <input type="text"
                             id="firstName"
                             name="firstName"
                             [(ngModel)]="adminData.firstName"
                             #fname="ngModel"
                             class="form-control" required >
                      <div *ngIf="fname?.errors && (fname?.dirty || fname?.touched)"
                           class="invalid-danger">
                        <div [hidden]="!fname?.errors.required">
                          First name is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-2">
                      <label class="font-size-20">
                        Last Name :
                      </label>
                    </div>
                    <div class="col-lg-10 margin-b-30">
                      <input type="text"
                             id="lastName"
                             name="lastName"
                             [(ngModel)]="adminData.lastName"
                             #lname="ngModel"
                             class="form-control" required >
                      <div *ngIf="lname?.errors && (lname?.dirty || lname?.touched)"
                           class="invalid-danger">
                        <div [hidden]="!lname?.errors.required">
                          Last name is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-2">
                      <label class="font-size-20">
                        Password :
                      </label>
                    </div>
                    <div class="col-lg-10 margin-b-30">
                      <input type="text"
                             id="password"
                             name="password"
                             [(ngModel)]="adminData.password"
                             #pass="ngModel"
                             class="form-control" required >
                      <div *ngIf="pass?.errors && (pass?.dirty || pass?.touched)"
                           class="invalid-danger">
                        <div [hidden]="!pass?.errors.required">
                          Password is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-2">
                      <label class="font-size-20">
                        Gender :
                      </label>
                    </div>
                    <div class="col-md-10">
                      <select
                        id="gender"
                        name="gender"
                        [(ngModel)]="adminData.gender"
                        #gndr="ngModel"
                        class="form-control selectpicker margin-b-30" style="width: 20%"
                        required>
                        <option selected [value]="default" disabled>Select Gender</option>
                        <option [value]="adminData.gender">Male</option>
                        <option [value]="adminData.gender">Female</option>
                        <option [value]="adminData.gender">Others</option>
                      </select>
                    </div>
                  </div>

                  <!--<div class="form-group">-->
                    <!--<div class="col-lg-2 font-size-20">-->
                      <!--<label>-->
                        <!--D.O.B :-->
                      <!--</label>-->
                    <!--</div>-->

                    <!--<div class="col-lg-10 margin-b-30">-->
                      <!--<div class="col-md-4 pad-l-0">-->
                        <!--<select-->
                          <!--id="month"-->
                          <!--name="month"-->
                          <!--[(ngModel)]="month"-->
                          <!--#mnth="ngModel"-->
                          <!--required-->
                          <!--class="form-control selectpicker"-->
                          <!--disabled>-->
                          <!--<option selected [value]="default" disabled>Month</option>-->
                          <!--<option *ngFor="let month of months">{{month}}</option>-->
                        <!--</select>-->
                      <!--</div>-->

                      <!--<div class="col-md-4 pad-l-0">-->
                        <!--<select-->
                          <!--id="day"-->
                          <!--name="day"-->
                          <!--[(ngModel)]="day"-->
                          <!--#daay="ngModel"-->
                          <!--required-->
                          <!--class="form-control"-->
                          <!--disabled>-->
                          <!--<option selected [value]="default" disabled>Day</option>-->
                          <!--<option *ngFor="let day of days">{{day}}</option>-->
                        <!--</select>-->
                      <!--</div>-->

                      <!--<div class="col-md-4 pad-l-0">-->
                        <!--<select-->
                          <!--id="year"-->
                          <!--name="year"-->
                          <!--[(ngModel)]="year"-->
                          <!--#yeaar="ngModel"-->
                          <!--required-->
                          <!--class="form-control"-->
                          <!--disabled>-->
                          <!--<option selected [value]="default" disabled>Year</option>-->
                          <!--<option *ngFor="let year of years">{{year}}</option>-->
                        <!--</select>-->
                      <!--</div>-->

                    <!--</div>-->

                  <!--</div>-->


                  <!--<div class="form-group">-->
                  <!--<div class="col-md-2">-->
                  <!--<label class="font-size-20">-->
                  <!--Course :-->
                  <!--</label>-->
                  <!--</div>-->
                  <!--<div class="col-lg-10 margin-b-30">-->
                  <!--<input type="text" id="course" name="course" class="form-control" [(ngModel)]="course" disabled>-->
                  <!--</div>-->
                  <!--</div>-->

                  <!--<div class="form-group">-->
                    <!--<div class="col-md-2">-->
                      <!--<label class="font-size-20">-->
                        <!--Section :-->
                      <!--</label>-->
                    <!--</div>-->
                    <!--<div class="col-lg-10 margin-b-30">-->
                      <!--<input type="text"-->
                             <!--id="section"-->
                             <!--name="section"-->
                             <!--class="form-control"-->
                             <!--[(ngModel)]="profileData.section.name"-->
                             <!--disabled>-->
                    <!--</div>-->
                  <!--</div>-->

                  <!--<div class="form-group">-->
                    <!--<div class="col-md-2">-->
                      <!--<label class="font-size-20">-->
                        <!--Campus :-->
                      <!--</label>-->
                    <!--</div>-->
                    <!--<div class="col-lg-10 margin-b-30">-->
                      <!--<input type="text"-->
                             <!--id="campus"-->
                             <!--name="campus"-->
                             <!--class="form-control"-->
                             <!--[(ngModel)]="profileData.section.campus.name"-->
                             <!--disabled>-->
                    <!--</div>-->
                  <!--</div>-->

                  <div class="form-group">
                    <div class="col-md-2">
                      <label class="font-size-20">
                        Email :
                      </label>
                    </div>
                    <div class="col-lg-10 margin-b-30">
                      <input
                        type="text"
                        id="email"
                        name="email"
                        class="form-control"
                        [(ngModel)]="adminData.email"
                        #emal="ngModel"
                        required
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                      <div *ngIf="emal?.errors && (emal?.dirty || emal?.touched)"
                           class="invalid-danger">
                        <div [hidden]="!emal?.errors.required">
                          Email is required
                        </div>
                        <div [hidden]="!emal?.errors.pattern">
                          Email is invalid
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-2">
                      <label class="font-size-20">
                        Contact No :
                      </label>
                    </div>
                    <div class="col-lg-10 margin-b-30">
                      <input type="text"
                             id="numbrr"
                             name="numbrr"
                             #numbr="ngModel"
                             required
                             maxlength="11"
                             minlength="11"
                             class="form-control" [(ngModel)]="adminData.contact">
                      <div *ngIf="numbr?.errors && (numbr?.dirty || numbr?.touched)"
                           class="invalid-danger">
                        <div [hidden]="!numbr?.errors.required">
                          Number is required
                        </div>
                        <div [hidden]="!numbr?.errors.maxlength">
                          Maximum range is 11 required
                        </div>
                        <div [hidden]="!numbr?.errors.minlength">
                          Your length is too short
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-lg-12">
                      <button type="button" class="btn btn-blue" style="position: relative; float: right"
                              (click)="updateInfoStaff(adminData.firstName,adminData.lastName,
       adminData.gender,adminData.password,adminData.contact)"
                              [disabled]="!personalInfoForm.form.valid">Update Profile</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--STUDENT-->

      <div *ngIf="stepValue=='student'"
           class="active">
        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Student</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <h3 style="padding-left: 20px">Search by Student Id</h3>
                <form #studentd="ngForm">
                  <div class="col-md-10">
                    <input [(ngModel)]="uid" name="uid" #ui="ngModel" required class="form-control">
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-blue" style="width: 100%; height: 40px; padding: 0px;" (click)="getStudentData(uid)"
                            [disabled]="!studentd.form.valid">Search</button>
                  </div>
                </form>
              </div>
              <div *ngIf=showStudentResult>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-striped table-hover">
                      <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Section</th>
                        <th>Campus</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="info" *ngIf="studentData!=null">
                        <td>{{studentData.uid}}</td>
                        <td>{{studentData.firstName}} {{studentData.lastName}}</td>
                        <td>{{studentData.section.class}}</td>
                        <td>{{studentData.section.name}}</td>
                        <td>{{studentData.section.campus.name}}</td>
                        <td>
                          <button type="button" class="btn btn-red"  style="position: relative; float: left; height: 30px;" (click)="editStudentData()">
                            <p>Edit <span class="glyphicon glyphicon-edit"></span></p></button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-red" style="position: relative; float: left; height: 30px;" (click)="deleteStudentData(studentData.uid)">
                            <p>Delete <span class="glyphicon glyphicon-trash"></span></p>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--<table class="table">-->
              <!--<thead>-->
              <!--<tr>-->
              <!--<th>Id</th>-->
              <!--<th>Name</th>-->
              <!--<th>Class</th>-->
              <!--<th>Section</th>-->
              <!--<th>Campus</th>-->
              <!--<th>Edit</th>-->
              <!--<th>Delete</th>-->
              <!--</tr>-->
              <!--</thead>-->
              <!--<tbody>-->
              <!--<tr>-->
              <!--<td></td>-->
              <!--<td></td>-->
              <!--<td></td>-->
              <!--<td></td>-->
              <!--<td></td>-->
              <!--<td>-->
              <!--<button type="button" class="btn btn-red"  style="position: relative; float: left" (click)="loggingout()">-->
              <!--<p>Edit <span class="glyphicon glyphicon-edit"></span></p></button>-->
              <!--</td>-->
              <!--<td>-->
              <!--<button type="button" class="btn btn-red" style="position: relative; float: left" (click)="loggingout()">-->
              <!--<p>Delete <span class="glyphicon glyphicon-trash"></span></p>-->
              <!--</button>-->
              <!--</td>-->
              <!--</tr>-->

              <!--</tbody>-->
              <!--</table>-->
            </div>
          </div></div>

        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading"><h4>Create or Edit new Student</h4></div>
            <div class="panel-body">
              <form #addNewStudent="ngForm">
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-user glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="First Name"
                         [(ngModel)]="s_firstNam" name="s_firstNam" #s_firstN="ngModel" required>
                  <div *ngIf="s_firstN?.errors && (s_firstN?.dirty || s_firstN?.touched)"
                       class="color-red">
                    <div [hidden]="!s_firstN?.errors.required">
                      First Name is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-user glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Last Name"
                         [(ngModel)]="s_lastNam" name="s_lastNam" #li="ngModel"required >
                  <div *ngIf="li?.errors && (li?.dirty || li?.touched)"
                       class="color-red">
                    <div [hidden]="!s_firstN?.errors.required">
                      Last Name is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-user glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="email" placeholder="Email"
                         [(ngModel)]="s_ema" name="s_ema" #em="ngModel" required
                         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                  <div *ngIf="em?.errors && (em?.dirty || em?.touched)"
                       class="color-red">
                    <div [hidden]="!em?.errors.required">
                      email is required
                    </div>
                    <div [hidden]="!em?.errors.pattern">
                      Enter valid mail
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-earphone glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="number" placeholder="Contact"
                         [(ngModel)]="s_conta" name="s_conta" #cont="ngModel" required>
                  <div *ngIf="cont?.errors && (cont?.dirty || cont?.touched)"
                       class="color-red">
                    <div [hidden]="!cont?.errors.required">
                      Contact is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-modal-window glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Gender"
                         [(ngModel)]="s_gene" name="s_gene" #gener="ngModel" required>
                  <div *ngIf="gener?.errors && (gener?.dirty || gener?.touched)"
                       class="color-red">
                    <div [hidden]="!gener?.errors.required">
                      Gender is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-credit-card glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Section"
                         [(ngModel)]="s_sect" name="s_sect" #secti="ngModel" required>
                  <div *ngIf="secti?.errors && (secti?.dirty || secti?.touched)"
                       class="color-red">
                    <div [hidden]="!secti?.errors.required">
                      section is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-education glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="number" placeholder="Class"
                         [(ngModel)]="s_cla" name="s_cla" #cl="ngModel" required>
                  <div *ngIf="cl?.errors && (cl?.dirty || cl?.touched)"
                       class="color-red">
                    <div [hidden]="!cl?.errors.required">
                      Class is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-record glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Campus"
                         [(ngModel)]="s_campu" name="s_campu" #camp="ngModel" required>
                  <div *ngIf="camp?.errors && (camp?.dirty || camp?.touched)"
                       class="color-red">
                    <div [hidden]="!camp?.errors.required">
                      Campus is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-modal-window glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="number" placeholder="Age"
                         [(ngModel)]="s_ag" name="s_ag" #aged="ngModel" required>
                  <div *ngIf="aged?.errors && (aged?.dirty || aged?.touched)"
                       class="color-red">
                    <div [hidden]="!aged?.errors.required">
                      Age is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-home glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Address"
                         [(ngModel)]="s_addrr" name="s_addrr" #addr="ngModel" required>
                  <div *ngIf="addr?.errors && (addr?.dirty || addr?.touched)"
                       class="color-red">
                    <div [hidden]="!addr?.errors.required">
                      Address is required
                    </div>
                  </div>
                </div>
                <button [disabled]="!addNewStudent.form.valid" class="btn btn-info " #add type="submit" (click)="createStudentData(s_firstNam,s_lastNam,s_conta,s_gene,s_ema,s_cla,s_ag,s_sect,s_addrr,s_campu)">
                  <i class=" glyphicon glyphicon-edit icon-white "></i>Add</button>
              </form>
            </div>
          </div>
          <!--<input type="file" (change)="fn($event)" placeholder="Upload file" accept=".png,.jpg,.jpeg">-->

        </div>
      </div>


      <!--TEACHER-->

      <div *ngIf="stepValue=='teacher'"
           class="active">
        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Teacher</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <h3 style="padding-left: 20px">Search by Teacher Id :</h3>
                <form #teacherd="ngForm">
                  <div class="col-md-10">
                    <input [(ngModel)]="tuid" name="tuid" #tui="ngModel" required class="form-control">
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-blue" style="width: 100%; height: 40px; padding: 0px;" (click)="getTeacherData(tuid)"
                            [disabled]="!teacherd.form.valid">Search</button>
                  </div>
                </form>
              </div>
              <div *ngIf="showTeacherResult">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Date Of Joining</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="info" *ngIf="teacherData!=null">
                        <td>{{teacherData.uid}}</td>
                        <td>{{teacherData.firstName}} {{teacherData.lastName}}</td>
                        <td>{{teacherData.salary}}</td>
                        <td>{{teacherData.dateOfJoin | date}}</td>
                        <td>{{teacherData.email}}</td>
                        <td>
                          <button type="button" class="btn btn-red"  style="position: relative; float: left; height: 30px;" (click)="editTeacherData()">
                            <p>Edit <span class="glyphicon glyphicon-edit"></span></p></button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-red" style="position: relative; float: left; height: 30px;" (click)="deleteTeacherData(teacherData.uid)">
                            <p>Delete <span class="glyphicon glyphicon-trash"></span></p>
                          </button>
                        </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading"><h4>Create or Edit Teacher</h4></div>
            <div class="panel-body">
              <form #addNewTeacher="ngForm">
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-user glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="First Name"
                         [(ngModel)]="t_firstNam" name="t_firstNam" #t_firstN="ngModel" required>
                  <div *ngIf="t_firstN?.errors && (t_firstN?.dirty || t_firstN?.touched)"
                       class="color-red">
                    <div [hidden]="!t_firstN?.errors.required">
                      FirstName is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-user glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Last Name"
                         [(ngModel)]="t_lastNam" name="t_lastNam" #t_li="ngModel" required>
                  <div *ngIf="t_li?.errors && (t_li?.dirty || t_li?.touched)"
                       class="color-red">
                    <div [hidden]="!t_li?.errors.required">
                      LastName is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-envelope glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Email"
                         [(ngModel)]="t_ema" name="t_ema" #t_em="ngModel" required>
                  <div *ngIf="t_em?.errors && (t_em?.dirty || t_em?.touched)"
                       class="color-red">
                    <div [hidden]="!t_li?.errors.required">
                      E-mail is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-earphone glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Contact"
                         [(ngModel)]="t_conta" name="t_conta" #t_cont="ngModel" required>
                  <div *ngIf="t_cont?.errors && (t_cont?.dirty || t_cont?.touched)"
                       class="color-red">
                    <div [hidden]="!t_cont?.errors.required">
                      Contact is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-modal-window glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Gender"
                         [(ngModel)]="t_gene" name="t_gene" #t_gener="ngModel" required>
                  <div *ngIf="t_gener?.errors && (t_gener?.dirty || t_gener?.touched)"
                       class="color-red">
                    <div [hidden]="!t_gener?.errors.required">
                      Gender is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-modal-window glyph-bg"></i>
                  <input class="form-control margin-b-0  padding-left-35" type="text" placeholder="Age"
                         [(ngModel)]="t_ag" name="t_ag" #t_aged="ngModel" required>
                  <div *ngIf="t_aged?.errors && (t_aged?.dirty || t_aged?.touched)"
                       class="color-red">
                    <div [hidden]="!t_aged?.errors.required">
                      Age is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-home glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Address"
                         [(ngModel)]="t_addrr" name="t_addrr" #t_addr="ngModel" required>
                  <div *ngIf="t_addr?.errors && (t_addr?.dirty || t_addr?.touched)"
                       class="color-red">
                    <div [hidden]="!t_addr?.errors.required">
                      Address is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-piggy-bank glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="number" placeholder="Salary"
                         [(ngModel)]="t_salar" name="t_salar" #t_sala="ngModel" required>
                  <div *ngIf="t_sala?.errors && (t_sala?.dirty || t_sala?.touched)"
                       class="color-red">
                    <div [hidden]="!t_sala?.errors.required">
                      Salary is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-education glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Qualification"
                         [(ngModel)]="t_qualificat" name="t_qualificat" #t_qualifica="ngModel" required>
                  <div *ngIf="t_qualifica?.errors && (t_qualifica?.dirty || t_qualifica?.touched)"
                       class="color-red">
                    <div [hidden]="!t_qualifica?.errors.required">
                      Qualification is required
                    </div>
                  </div>
                </div>
                <button [disabled]="!addNewTeacher.form.valid" class="btn btn-info " #add type="submit" (click)="addTeacherData(t_firstNam,t_lastNam,t_ema,t_gene,t_conta,t_salar,t_ag,t_qualificat,t_addrr)">
                  <i class=" glyphicon glyphicon-edit icon-white "></i>Add</button>
              </form>
            </div>
          </div>
          <!--<input type="file" (change)="fn($event)" placeholder="Upload file" accept=".png,.jpg,.jpeg">-->

        </div>
      </div>

      <!--&lt;!&ndash;Staff&ndash;&gt;-->

      <div *ngIf="stepValue=='staff'"
           class="active">
        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Staff</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <h3 style="padding-left: 20px">Search by Staff Id :</h3>
                <form #teacherd="ngForm">
                  <div class="col-md-10">
                    <input [(ngModel)]="stf_uid" name="stf_uid" #stfui="ngModel" required class="form-control">
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-blue" style="width: 100%; height: 40px; padding: 0px;" (click)="getStaffData(stf_uid)"
                            [disabled]="!teacherd.form.valid">Search</button>
                  </div>
                </form>
              </div>
              <div *ngIf="showStaffResult">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Date Of Joining</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="info" *ngIf="staffData!=null">
                        <td>{{staffData.uid}}</td>
                        <td>{{staffData.firstName}} {{staffData.lastName}}</td>
                        <td>{{staffData.salary}}</td>
                        <td>{{staffData.dateOfJoin | date}}</td>
                        <td>{{staffData.email}}</td>
                        <td>
                          <button type="button" class="btn btn-red"  style="position: relative; float: left; height: 30px;" (click)="editStaffData()">
                            <p>Edit <span class="glyphicon glyphicon-edit"></span></p></button>
                        </td>
                        <td>
                          <button type="button" class="btn btn-red" style="position: relative; float: left; height: 30px" (click)="deleteStaffdata(staffData.uid)">
                            <p>Delete <span class="glyphicon glyphicon-trash"></span></p>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading"><h4>Create or delete Staff</h4></div>
            <div class="panel-body">
              <form #addNewStaff="ngForm">
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-user glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="First Name"
                         [(ngModel)]="stf_firstNam" name="stf_firstNam" #stf_fi="ngModel" required>
                  <div *ngIf="stf_fi?.errors && (stf_fi?.dirty || stf_fi?.touched)"
                       class="color-red">
                    <div [hidden]="!stf_fi?.errors.required">
                      FirstName is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-user glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Last Name"
                         [(ngModel)]="stf_lastNam" name="stf_lastNam" #stf_li="ngModel" required>
                  <div *ngIf="stf_li?.errors && (stf_li?.dirty || stf_li?.touched)"
                       class="color-red">
                    <div [hidden]="!stf_li?.errors.required">
                      LastName is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-envelope glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Email"
                         [(ngModel)]="stf_ema" name="stf_ema" #stf_em="ngModel" required>
                  <div *ngIf="stf_em?.errors && (stf_em?.dirty || stf_em?.touched)"
                       class="color-red">
                    <div [hidden]="!stf_em?.errors.required">
                      E-mail is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-earphone glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="number" placeholder="Contact"
                         [(ngModel)]="stf_conta" name="stf_conta" #stf_cont="ngModel" required>
                  <div *ngIf="stf_cont?.errors && (stf_cont?.dirty || stf_cont?.touched)"
                       class="color-red">
                    <div [hidden]="!stf_cont?.errors.required">
                      Number is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-modal-window glyph-bg"></i>
                  <input class="form-control padding-left-35" type="text" placeholder="Gender"
                         [(ngModel)]="stf_gene" name="stf_gene" #stf_gener="ngModel" required>
                  <div *ngIf="stf_gener?.errors && (stf_gener?.dirty || stf_gener?.touched)"
                       class="color-red">
                    <div [hidden]="!stf_gener?.errors.required">
                      Gender is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-modal-window glyph-bg"></i>
                  <input class="form-control padding-left-35" type="number" placeholder="Age"
                         [(ngModel)]="stf_ag" name="stf_ag" #stf_aged="ngModel" required>
                  <div *ngIf="stf_aged?.errors && (stf_aged?.dirty || stf_aged?.touched)"
                       class="color-red">
                    <div [hidden]="!stf_gener?.errors.required">
                      Age is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-home glyph-bg"></i>
                  <input class="form-control padding-left-35" type="text" placeholder="Address"
                         [(ngModel)]="stf_addrr" name="stf_addrr" #stf_addr="ngModel" required>
                  <div *ngIf="stf_addr?.errors && (stf_addr?.dirty || stf_addr?.touched)"
                       class="color-red">
                    <div [hidden]="!stf_addr?.errors.required">
                      Address is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-piggy-bank glyph-bg"></i>
                  <input class="form-control padding-left-35" type="number" placeholder="Salary"
                         [(ngModel)]="stf_salar" name="stf_salar" #stf_sala="ngModel" required>
                  <div *ngIf="stf_sala?.errors && (stf_sala?.dirty || stf_sala?.touched)"
                       class="color-red">
                    <div [hidden]="!stf_sala?.errors.required">
                      Salary is required
                    </div>
                  </div>
                </div>
                <button [disabled]="!addNewStaff.form.valid" class="btn btn-info " #add type="submit" (click)="addStaffData(stf_firstNam,stf_lastNam,stf_ema,stf_gene,stf_conta,stf_salar,stf_ag,stf_addrr)">
                  <i class=" glyphicon glyphicon-edit icon-white "></i>Add</button>
              </form>
            </div>
          </div>
          <!--<input type="file" (change)="fn($event)" placeholder="Upload file" accept=".png,.jpg,.jpeg">-->

        </div>
      </div>

      <!--&lt;!&ndash;CAMPUS&ndash;&gt;-->

      <div *ngIf="stepValue=='campus'"
           class="active">
        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>
                Campus
              </h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <h3 style="padding-left: 20px">Search by Campus Name</h3>
                <form #campusNaamee="ngForm">
                  <div class="col-md-10">
                    <select [(ngModel)]="campaNa" name="campaNa" #campaN="ngModel" required class="form-control selectpicker" required>
                      <option selected [value]="default" disabled>Select Campus</option>
                      <option>NazimabadCampus</option>
                      <option>HighwayCampus</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-blue" style="width: 100%; height: 40px; padding: 0px;" (click)="getCampusData(campaNa)"
                            [disabled]="!campusNaamee.form.valid">Search</button>
                  </div>
                </form>
              </div>
              <div *ngIf="showCampusResult">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Address</th>
                        <th>Admin</th>
                        <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="info" *ngIf="campusData!=null">
                        <td>{{campusData.name}}</td>
                        <td>{{campusData.location}}</td>
                        <td>{{campusData.address}}</td>
                        <td>{{campusData.admin.firstName}} {{campusData.admin.lastName}}</td>
                        <td>
                          <select [(ngModel)]="actionType" name="actionType" #addTyp="ngModel" required class="form-control selectpicker" required>
                            <option selected value="select" [value]="default" disabled>Select any</option>
                            <option value="staff">Add/Delete Staff</option>
                            <option value="teacher">Add/Delete Teacher</option>
                            <option value="admin">Change Admin</option>
                          </select>
                          <div style="padding: 1px">
                            <!--<button type="button" class="btn btn-blue" style="position: relative; float: left; height: 30px; padding-top: 5px !important;-->
                            <!--width: 100%" (click)="checkingdde(actionType)">-->
                            <!--Ok!-->
                            <!--</button>-->
                            <!--<button [disabled]="addTyp!=default" type="button" class="btn btn-blue" style="position: relative; float: left; height: 30px; padding-top: 5px !important;-->
                            <!--width: 50%;" (click)="checkingdde(actionType)">-->
                            <!--Update Campus-->
                            <!--</button>-->
                          </div>
                        </td>
                        <!--<td>-->
                        <!--<button type="button" class="btn btn-red" style="position: relative; float: left" (click)="loggingout()">-->
                        <!--<p>Update <span class="glyphicon glyphicon-trash"></span></p>-->
                        <!--</button>-->
                        <!--</td>-->
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-3" *ngIf="(actionType!='teacher' && actionType!='staff' && actionType!='admin')">
          <div class="panel panel-primary">
            <div class="panel-heading"><h4>Create or edit Campus data</h4></div>
            <div class="panel-body">
              <form #addCampusData="ngForm">
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-hdd glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Name"
                         [(ngModel)]="cam_Nam" name="cam_Nam" #cam_Na="ngModel" required>
                  <div *ngIf="cam_Na?.errors && (cam_Na?.dirty || cam_Na?.touched)"
                       class="color-red">
                    <div [hidden]="!cam_Na?.errors.required">
                      Name is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-pushpin glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35 padding-left-35" type="text" placeholder="Location"
                         [(ngModel)]="cam_Location" name="cam_Location" #cam_Locatio="ngModel">
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-home glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Address"
                         [(ngModel)]="cam_Adresss" name="cam_Adresss" #cam_Adress="ngModel" required>
                  <div *ngIf="cam_Adress?.errors && (cam_Adress?.dirty || cam_Adress?.touched)"
                       class="color-red">
                    <div [hidden]="!cam_Adress?.errors.required">
                      Address is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-user glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Admin Id"
                         [(ngModel)]="cam_Adid" name="cam_Adid" #cam_Adi="ngModel" required>
                  <div *ngIf="cam_Adi?.errors && (cam_Adi?.dirty || cam_Adi?.touched)"
                       class="color-red">
                    <div [hidden]="!cam_Adi?.errors.required">
                      Admin Id is required
                    </div>
                  </div>
                </div>
                <button [disabled]="!addCampusData.form.valid" class="btn btn-info " #add type="submit" (click)="createCampus(cam_Nam,cam_Location,cam_Adresss,cam_Adid)">
                  <i class=" glyphicon glyphicon-edit icon-white "></i>Add</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-3" *ngIf="(actionType=='admin' || actionType=='teacher' || actionType=='staff')">
          <div class="panel panel-primary">
            <div class="panel-heading"><h4>Create or edit Campus Data</h4></div>
            <div class="panel-primary">
              <form #addCampusDat2="ngForm">
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-user glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="Id"
                         [(ngModel)]="cam_related_id" name="cam_related_id" #camre_id="ngModel" required>
                  <div *ngIf="camre_id?.errors && (camre_id?.dirty || camre_id?.touched)"
                       class="color-red">
                    <div [hidden]="!camre_id?.errors.required">
                      Id is required
                    </div>
                  </div>
                </div>
                <button [disabled]="(actionType=='' && !addCampusDat2.form.valid)" class="btn btn-info " #add type="submit" (click)="addPersonToCampus(cam_related_id,actionType)">
                  <i class=" glyphicon glyphicon-edit icon-white "></i>Add</button>
                <button [disabled]="(actionType=='admin' && !addCampusDat2.form.valid)" class="btn btn-red " #add type="submit" (click)="removePersonFromCampus(cam_related_id,actionType)">
                  <i class=" glyphicon glyphicon-trash icon-white "></i>Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <!--&lt;!&ndash;COURSE&ndash;&gt;-->

      <div *ngIf="stepValue=='course'"
           class="active">
        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Course</h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <form #announcemt="ngForm">
                  <div class="col-md-5">
                    <h3 style="padding-left: 0px">Course Name :</h3>
                    <select [(ngModel)]="course" name="course" #cour="ngModel" required class="form-control selectpicker" required>
                      <option selected [value]="default" disabled>Select Course</option>
                      <option>Science</option>
                      <option>Mathematics</option>
                      <option>English</option>
                      <option>Urdu</option>
                      <option>Islamiat</option>
                    </select>
                  </div>

                  <div class="col-md-5">
                    <h3 style="padding-left: 0px">Class Name :</h3>
                    <select [(ngModel)]="classn" name="classn" #cla="ngModel" required class="form-control selectpicker" required>
                      <option selected [value]="default" disabled>Select Class</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                  </div>

                  <div class="col-md-2">
                    <button type="button" class="btn btn-blue" style="width: 100%; height: 40px; padding: 0px; margin-top: 50px;" (click)="getCampusCourses(course,classn)"
                            [disabled]="!announcemt.form.valid">Search</button>
                  </div>
                </form>
              </div>
              <div *ngIf="showCourseResult">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Syllabus</th>
                        <th>Teachers</th>
                        <th>Edit</th>
                        <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="info" *ngIf="courseData!=null">
                        <td>{{courseData.name}}</td>
                        <td>{{courseData.class}}</td>
                        <td>{{courseData.syllabus}}</td>
                        <td >
                      <tr *ngFor="let teacher of courseData.teachers let i = index">
                        {{teacher.firstName}} {{teacher.lastName}},
                      </tr>
                      </td>
                      <td>
                        <button type="button" class="btn btn-red"  style="position: relative; float: left; height: 30px" (click)="editSyllabus()">
                          <p>Edit <span class="glyphicon glyphicon-edit"></span></p></button>
                      </td>
                      <td>
                        <select [(ngModel)]="actionOnTeacher" name="actionOnTeacher" #actionOnTeacherp="ngModel" required class="form-control selectpicker" required>
                          <option selected value="select" [value]="default" disabled>Select any</option>
                          <option value="assign">Assign Teacher</option>
                          <option value="unassign">Un-assign Teacher</option>
                        </select>
                      </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3" *ngIf="(showCourseResult && actionOnTeacher!='assign' && actionOnTeacher!='unassign')">
          <div class="panel panel-heading">
            <div class="panel-heading"><h4>Update Course Result</h4></div>
            <div class="panel-body">
              <form #courseRData="ngForm">
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-education glyph-bg"></i>
                  <input class="form-control margin-b-0" type="text" placeholder="UpdateSyllabus"
                         [(ngModel)]="cou_Syl" name="cou_Syl" #cou_Syla="ngModel" required>
                  <div *ngIf="cou_Syla?.errors && (cou_Syla?.dirty || cou_Syla?.touched)"
                       class="color-red">
                    <div [hidden]="!cou_Syla?.errors.required">
                      Syllabus is required
                    </div>
                  </div>
                </div>
                <button [disabled]="!courseRData.form.valid" class="btn btn-info " #add type="submit" (click)="UpdateSyllabus(cou_Syl)">
                  <i class=" glyphicon glyphicon-edit icon-white "></i>Ok!</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-3" *ngIf="(showCourseResult && (actionOnTeacher=='assign' || actionOnTeacher=='unassign'))">

          <div class="panel panel-primary">
            <div class="panel-heading"><h4>Update Course Result</h4></div>
            <div class="panel-body">
              <form #coureData12="ngForm">
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-user glyph-bg"></i>
                  <input class="form-control" type="text" placeholder="Name"
                         [(ngModel)]="cou_Teacher" name="cou_Teacher" #cou_Teachera="ngModel" required>
                  <div *ngIf="cou_Teachera?.errors && (cou_Teachera?.dirty || cou_Teachera?.touched)"
                       class="color-red">
                    <div [hidden]="!cou_Teachera?.errors.required">
                      Name is required
                    </div>
                  </div>
                </div>
                <button [disabled]="!coureData12.form.valid" class="btn btn-info " #add type="submit" (click)="actionsOnTeacher(actionOnTeacher,cou_Teacher)">
                  <i class=" glyphicon glyphicon-edit icon-white "></i>Add</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--&lt;!&ndash;Fee&ndash;&gt;-->

      <div *ngIf="stepValue=='fee'"
           class="active">
        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>
                Fees
              </h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <form #fees="ngForm">
                  <div class="col-md-5">
                    <h3 style="padding-left: 0px">Student Id :</h3>
                    <input style="width: 100%;" [(ngModel)]="fee_stid" name="fee_stid" #fee_sti="ngModel" required class="form-group" required>
                  </div>

                  <div class="col-md-5">
                    <h3 style="padding-left: 0px">Fee Year :</h3>
                    <input style="width: 100%;" [(ngModel)]="fee_year" name="fee_year" #fee_yea="ngModel" required class="form-group" required>
                  </div>

                  <div class="col-md-2">
                    <button type="button" class="btn btn-blue" style="width: 100%; height: 40px; padding: 0px; margin-top: 50px;" (click)="getfeesData(fee_stid,fee_year)"
                            [disabled]="!fees.form.valid">Search</button>
                  </div>
                </form>
              </div>
              <div *ngIf="showFessResult">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Type</th>
                        <th>Detail</th>
                        <th>Due Date</th>
                        <th>Date Of Payment</th>
                        <th>Fee status</th>
                      </tr>
                      </thead>
                      <tbody *ngIf="feeData!=null">
                      <tr class="info" *ngFor="let fees of feeData let i = index">
                        <td>{{fees.type}}</td>
                        <td>{{fees.detail}}</td>
                        <td>{{fees.dueDate | date}}</td>
                        <td>{{fees.dateOfPayment | date}}</td>
                        <td>
                          <button disabled *ngIf="fees.status=='paid'" type="button" class="btn btn-primary class-btn bg-color-green">Paid</button>
                          <button (click)="fessPaid(i,fees.id)" *ngIf="fees.status!='paid'" type="button" class="btn btn-blue class-btn pad-t-5">Un-paid</button>
                        </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading"><h4>Creat or edit Fees</h4></div>
            <div class="panel-body">
              <form #feeForm="ngForm">
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-record glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="type"
                         [(ngModel)]="fe_type" name="fe_type" #fe_typee="ngModel" required>
                  <div *ngIf="fe_typee?.errors && (fe_typee?.dirty || fe_typee?.touched)"
                       class="color-red">
                    <div [hidden]="!fe_typee?.errors.required">
                      Type is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-floppy-disk glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="detail"
                         [(ngModel)]="fe_detail" name="fe_detail" #fe_ddetail="ngModel" required>
                  <div *ngIf="fe_ddetail?.errors && (fe_ddetail?.dirty || fe_ddetail?.touched)"
                       class="color-red">
                    <div [hidden]="!fe_ddetail?.errors.required">
                      Detail is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-option-horizontal glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="number" placeholder="year"
                         [(ngModel)]="fe_year" name="fe_year" #fe_dyear="ngModel" required>
                  <div *ngIf="fe_dyear?.errors && (fe_dyear?.dirty || fe_dyear?.touched)"
                       class="color-red">
                    <div [hidden]="!fe_dyear?.errors.required">
                      Fees year is required
                    </div>
                  </div>
                </div>
                <!--<div class="form-group cursor-pointer">-->
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-calendar glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="date" placeholder="duedate"
                         [(ngModel)]="fe_due" name="fe_due" #fe_ddue="ngModel" required>
                  <!--<datetime [timepicker]="false" [(ngModel)]="fe_due" name="fe_due" #fe_ddue="ngModel" required></datetime>-->
                  <div *ngIf="fe_ddue?.errors && (fe_ddue?.dirty || fe_ddue?.touched)"
                       class="color-red">
                    <div [hidden]="!fe_ddue?.errors.required">
                      Due date is required
                    </div>
                  </div>
                </div>
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-hdd glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="campus name"
                         [(ngModel)]="fe_camNa" name="fe_cam_Na" #fe_ccamNa="ngModel" required>
                  <div *ngIf="fe_ccamNa?.errors && (fe_ccamNa?.dirty || fe_ccamNa?.touched)"
                       class="color-red">
                    <div [hidden]="!fe_ccamNa?.errors.required">
                      Campus Name is required
                    </div>
                  </div>
                </div>
                <button [disabled]="!feeForm.form.valid" class="btn btn-info " #add type="submit" (click)="createFees(fe_type,fe_detail,fe_year,fe_due,fe_camNa)">
                  <i class=" glyphicon glyphicon-edit icon-white "></i>Ok!</button>
              </form>
            </div>
          </div>
        </div>


      </div>

      <!--&lt;!&ndash;Result&ndash;&gt;-->

      <div *ngIf="stepValue=='result'"
           class="active">
        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>
                Result
              </h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <form #fees="ngForm">
                  <div class="col-md-5">
                    <h3 style="padding-left: 0px">Student Id :</h3>
                    <input style="width: 100%;" [(ngModel)]="res_stid" name="res_stid" #res_sti="ngModel" required class="form-group" required>
                  </div>

                  <div class="col-md-5">
                    <h3 style="padding-left: 0px">Result Year :</h3>
                    <input style="width: 100%;" [(ngModel)]="res_year" name="res_year" #res_yea="ngModel" required class="form-group" required>
                  </div>

                  <div class="col-md-2">
                    <button type="button" class="btn btn-blue" style="width: 100%; height: 40px; padding: 0px; margin-top: 50px;" (click)="getStudentMarks(res_stid,res_year)"
                            [disabled]="!fees.form.valid">Search</button>
                  </div>
                </form>
              </div>
              <div *ngIf="showMarksResult">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Course</th>
                        <th>Class</th>
                        <th>Type</th>
                        <th>Marks</th>
                        <th>Grade</th>
                        <th>Edit</th>
                      </tr>
                      </thead>
                      <tbody *ngIf="marksData!=null">
                      <tr class="info" *ngFor="let marks of marksData let i = index">
                        <td>{{marks.course.name}}</td>
                        <td>{{marks.course.class}}</td>
                        <td>{{marks.type}}</td>
                        <td>{{marks.marks}}</td>
                        <td>{{marks.grade}}</td>
                        <td>
                          <button (click)="editStudentResult(i)" type="button" class="btn btn-blue class-btn pad-t-5">
                            <p>Edit <span class="glyphicon glyphicon-edit"></span></p>
                          </button>
                        </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading"><h4>Update Student Marks</h4></div>
            <div class="panel-body">
              <form #resultFoamm="ngForm">
                <div class="form-group inner-addon left-addon">
                  <i class="glyphicon glyphicon-option-horizontal glyph-bg"></i>
                  <input class="form-control margin-b-0 padding-left-35" type="text" placeholder="marks"
                         [(ngModel)]="res_marks" name="res_marks" #res_markss="ngModel" required>
                  <div *ngIf="res_markss?.errors && (res_markss?.dirty || res_markss?.touched)"
                       class="color-red">
                    <div [hidden]="!res_markss?.errors.required">
                      Marks is required
                    </div>
                  </div>
                </div>
                <button [disabled]="(tempo<0 && !resultFoamm.form.valid)" class="btn btn-info " #add type="submit" (click)="editCourseMarks(res_marks)">
                  <i class=" glyphicon glyphicon-edit icon-white "></i>Ok!</button>
              </form>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

</div>
