<div class="parallax pad-t-20">
  <div class="container-fluid margin-t-30">
    <div class="row">
      <div class="col col-lg-3">
        <div class="panel panel-info">
          <div class="panel-heading"><h4>Student Portfolio</h4></div>
          <div class="panel-body">
            <ul class="font-size-20 pad-l-0">
              <li class="cursor-pointer" (click)="changeStep('personalInfo')">Personal Info</li>
              <li class="cursor-pointer" (click)="changeStep('examResult')">Exam Results</li>
              <li class="cursor-pointer" (click)="changeStep('dateSheet')">Latest Date Sheet</li>
            </ul>
            <button type="button" class="btn btn-red" style="position: relative; float: left" (click)="loggingout()">Log Out</button>
          </div>
        </div>
      </div>
      <div class="col col-lg-9 class="collapse navbar-collapse id="bs-example-navbar-collapse-1">

        <!--Main container for Student used for switching in student portfolio-->
        <div *ngIf="stepValue=='personalInfo'"
             class="active">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-primary">
                <div class="panel-heading"><h4>Student Profile</h4></div>
                <div class="panel-body">
                  <form #personalInfoForm="ngForm">

                    <div class="form-group">
                      <div class="col-md-2">
                        <label class="font-size-20">
                          Student Id :
                        </label>
                      </div>
                      <div class="col-lg-10 margin-b-30">
                        <input type="text" id="id" name="id" class="form-control" [(ngModel)]="profileData.id" disabled>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-2">
                        <label class="font-size-20">
                          First Name :
                        </label>
                      </div>
                      <div class="col-lg-10 margin-b-30">
                        <input type="text"
                               id="firstName"
                               name="firstName"
                               [(ngModel)]="profileData.firstName"
                               #fname="ngModel"
                               class="form-control" required >
                        <div *ngIf="fname?.errors && (fname?.dirty || fname?.touched)"
                             class="invalid-danger">
                          <div [hidden]="!fname?.errors.required">
                            First name is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-2">
                        <label class="font-size-20">
                          Last Name :
                        </label>
                      </div>
                      <div class="col-lg-10 margin-b-30">
                        <input type="text"
                               id="lastName"
                               name="lastName"
                               [(ngModel)]="profileData.lastName"
                               #lname="ngModel"
                               class="form-control" required >
                        <div *ngIf="lname?.errors && (lname?.dirty || lname?.touched)"
                             class="invalid-danger">
                          <div [hidden]="!lname?.errors.required">
                            Last name is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-2">
                        <label class="font-size-20">
                          Password :
                        </label>
                      </div>
                      <div class="col-lg-10 margin-b-30">
                        <input type="text"
                               id="password"
                               name="password"
                               [(ngModel)]="profileData.password"
                               #pass="ngModel"
                               class="form-control" required >
                        <div *ngIf="pass?.errors && (pass?.dirty || pass?.touched)"
                             class="invalid-danger">
                          <div [hidden]="!pass?.errors.required">
                            Password is required
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-2">
                        <label class="font-size-20">
                          Gender :
                        </label>
                      </div>
                      <div class="col-md-10">
                        <select
                          id="gender"
                          name="gender"
                          [(ngModel)]="profileData.gender"
                          #gndr="ngModel"
                          class="form-control selectpicker margin-b-30" style="width: 20%"
                          required>
                          <option selected [value]="default" disabled>Select Gender</option>
                          <option [value]="profileData.gender">Male</option>
                          <option [value]="profileData.gender">Female</option>
                          <option [value]="profileData.gender">Others</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-lg-2 font-size-20">
                        <label>
                          D.O.B :
                        </label>
                      </div>

                      <div class="col-lg-10 margin-b-30">
                        <div class="col-md-4 pad-l-0">
                          <select
                            id="month"
                            name="month"
                            [(ngModel)]="month"
                            #mnth="ngModel"
                            required
                            class="form-control selectpicker"
                            disabled>
                            <option selected [value]="default" disabled>Month</option>
                            <option *ngFor="let month of months">{{month}}</option>
                          </select>
                        </div>

                        <div class="col-md-4 pad-l-0">
                          <select
                            id="day"
                            name="day"
                            [(ngModel)]="day"
                            #daay="ngModel"
                            required
                            class="form-control"
                            disabled>
                            <option selected [value]="default" disabled>Day</option>
                            <option *ngFor="let day of days">{{day}}</option>
                          </select>
                        </div>

                        <div class="col-md-4 pad-l-0">
                          <select
                            id="year"
                            name="year"
                            [(ngModel)]="year"
                            #yeaar="ngModel"
                            required
                            class="form-control"
                            disabled>
                            <option selected [value]="default" disabled>Year</option>
                            <option *ngFor="let year of years">{{year}}</option>
                          </select>
                        </div>

                      </div>

                    </div>


                    <!--<div class="form-group">-->
                    <!--<div class="col-md-2">-->
                    <!--<label class="font-size-20">-->
                    <!--Course :-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--<div class="col-lg-10 margin-b-30">-->
                    <!--<input type="text" id="course" name="course" class="form-control" [(ngModel)]="course" disabled>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                      <div class="col-md-2">
                        <label class="font-size-20">
                          Section :
                        </label>
                      </div>
                      <div class="col-lg-10 margin-b-30">
                        <input type="text"
                               id="section"
                               name="section"
                               class="form-control"
                               [(ngModel)]="profileData.section.name"
                               disabled>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-2">
                        <label class="font-size-20">
                          Campus :
                        </label>
                      </div>
                      <div class="col-lg-10 margin-b-30">
                        <input type="text"
                               id="campus"
                               name="campus"
                               class="form-control"
                               [(ngModel)]="profileData.section.campus.name"
                               disabled>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-2">
                        <label class="font-size-20">
                          Email :
                        </label>
                      </div>
                      <div class="col-lg-10 margin-b-30">
                        <input
                          type="text"
                          id="email"
                          name="email"
                          class="form-control"
                          [(ngModel)]="profileData.email"
                          #emal="ngModel"
                          required
                          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <div *ngIf="emal?.errors && (emal?.dirty || emal?.touched)"
                             class="invalid-danger">
                          <div [hidden]="!emal?.errors.required">
                            Email is required
                          </div>
                          <div [hidden]="!emal?.errors.pattern">
                            Email is invalid
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-2">
                        <label class="font-size-20">
                          Contact No :
                        </label>
                      </div>
                      <div class="col-lg-10 margin-b-30">
                        <input type="text"
                               id="numbrr"
                               name="numbrr"
                               #numbr="ngModel"
                               required
                               maxlength="11"
                               minlength="11"
                               class="form-control" [(ngModel)]="profileData.contact">
                        <div *ngIf="numbr?.errors && (numbr?.dirty || numbr?.touched)"
                             class="invalid-danger">
                          <div [hidden]="!numbr?.errors.required">
                            Number is required
                          </div>
                          <div [hidden]="!numbr?.errors.maxlength">
                            Maximum range is 11 required
                          </div>
                          <div [hidden]="!numbr?.errors.minlength">
                            Your length is too short
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-lg-12">
                        <button type="button" class="btn btn-blue" style="position: relative; float: right"
                                (click)="updateInfo(profileData.firstName,profileData.lastName,
                                  profileData.password,profileData.gender,profileData.email,profileData.contact)"
                                [disabled]="!personalInfoForm.form.valid">Update Profile</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="stepValue=='examResult'"
             class="active">
          <div class="panel panel-primary">
            <div class="panel-heading">IAH School Student Results</div>
            <div class="panel-body">
              <!--Search here by Half-Yearly and Yearly-->
              <div class="row">
                <form #searchByForm="ngForm">
                  <div class="form-group">
                    <div class="col-md-4 font-size-20">
                      <label>
                        Search by :
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <!--<div class="col-md-3">-->
                      <!--<select [(ngModel)]="typs" name="typs" #typed="ngModel" required class="form-control selectpicker" required>-->
                        <!--<option selected [value]="default" disabled>Halfly/Yearly</option>-->
                        <!--<option>Monthly</option>-->
                        <!--<option>annual</option>-->
                      <!--</select>-->
                    <!--</div>-->
                  </div>
                  <div class="form-group">
                    <div class="col-md-4">
                      <select [(ngModel)]="yy" name="yy" #yyr="ngModel" class="form-control selectpicker" required>
                        <option selected [value]="default" disabled>Select year</option>
                        <option *ngFor="let ym of years1">{{ym}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4">
                      <button type="button" class="btn btn-blue" style="width: 100%; height: 35px; padding: 0px"
                              (click)="studentResult(yy)" [disabled]="!searchByForm.form.valid">Search</button>
                      <!--TODO : On Click pass studentId, type and year -->
                    </div>
                  </div>
                </form>
              </div>
              <!--Show here the results of Student selected by Yearly and Half-Yearly-->
              <div *ngIf=showResult>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-striped table-hover">
                      <thead>
                      <th>#</th>
                      <th>Course Id</th>
                      <th>Course Name</th>
                      <th>Marks</th>
                      <th>Grade</th>
                      </thead>
                      <tbody>
                      <tr class="info" *ngFor="let st_result of studentCourseResults let i = index">
                        <td>{{i}}</td>
                        <td>{{st_result.resCourseId}}</td>
                        <td>{{st_result.course.name}}</td>
                        <td>{{st_result.marks}}</td>
                        <td>{{st_result.grade}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="stepValue=='dateSheet'"
             class="active">
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-primary">
                <div class="panel-heading"><h4>IAH School Date Sheet</h4></div>
                <div class="panel-body">
                  <!--<div class="col-lg-12">-->
                  <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Course No</th>
                      <th>Course Name</th>
                      <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active" *ngFor="let st_datesheet of studentMarkSheet let i = index">
                      <td>{{i}}</td>
                      <td>{{st_datesheet.course.id}}</td>
                      <td>{{st_datesheet.course.name}}</td>
                      <td>{{st_datesheet.date | date}}</td>
                    </tr>
                    </tbody>
                  </table>
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>



        <!--<div class="tab-content">-->

        <!--<div class="tab-pane fade" id="staticModal1" bsModal #staticModal1="bs-modal"-->
        <!--aria-hidden="true" role="tabpanel">-->
        <!--<h4>chala</h4>-->
        <!--<div class="modal-dialog modal-sm">-->
        <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="staticModal1.hide()">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title" style="text-align: center">Modal 1</h4>-->
        <!--</div>-->
        <!--<div class="modal-body" style="text-align: center">-->
        <!--<button type="button" class="btn btn-primary">Teacher</button>-->
        <!--<button type="button" class="btn btn-primary">Student</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


        <!--<div class="tab-pane fade" id="staticModal2" bsModal #staticModal2="bs-modal"-->
        <!--aria-hidden="true" role="tabpanel">-->
        <!--<h4>ye bhi chala</h4>-->
        <!--<div class="modal-dialog modal-sm">-->
        <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
        <!--<button type="button" class="close pull-right" aria-label="Close" (click)="staticModal2.hide()">-->
        <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title" style="text-align: center">Modal 2</h4>-->
        <!--</div>-->
        <!--<div class="modal-body" style="text-align: center">-->
        <!--<button type="button" class="btn btn-primary">Teacher</button>-->
        <!--<button type="button" class="btn btn-primary">Student</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


      </div>
    </div>
  </div>

  <!--<router-outlet></router-outlet>-->

</div>
