li{
  list-style: none;
  padding: 0;
}

.font-size-20{
  font-size: 20px;
}


/*select.ng-invalid.ng-touched{*/
/*border: 1px solid red;*/
/*}*/

/*select.ng-valid.ng-touched{*/
/*border: 1px solid green;*/
/*}*/

input.ng-invalid.ng-touched{
  border-left: 5px solid red;
}

input.ng-valid.ng-touched{
  border-left: 5px solid green;
}

select.ng-invalid.ng-touched{
  border: 1px solid red;
}

select.ng-valid.ng-touched{
  border: 1px solid green;
}

.invalid-danger{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: red;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}
