<div class="container-fluid" style="padding: 0px; !important;">
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
      <img src="../../../../src/images/banner.jpg" style="width: 100%;">
    <!--</div>-->
  <!--</div>-->
</div>

<div class="container-fluid">
  <div class="row bg-color-gery text-center pad-t-20">
    <label class="font-size-20">
      School Management Software that Increases Student Achievements & Teacher Performances
    </label>
    <p style="font-size: 18px;">
      IAH is a commercial grade, secure, scalable & intuitive Student Information System from OS4ED
    </p>
  </div>

  <div class="row text-center pad-t-20">
    <p class="font-size-20">
      openIAH Based Solutions
    </p>
    <img src="../../../../src/images/loading.PNG">
    <p>
      openIAH has been customized and extended to fit specific industry verticals. Source code delivery included.
    </p>
  </div>

  <div class="row text-center pad-t-20 pad-l-15 pad-r-15">
    <div class="col-md-3">
      <div class="pad-20 font-size-15">
        <img src="../../../../src/images/run_icon.png" style="width: 75px; height: 75px;">
        <label>
          Solution for K-12 Schools
          (State, Private & Charter)
        </label>
        <p class="pad-t-10">
          We are providing you our best teachers in the school so you can see
          them online about thier progress
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="pad-20 font-size-15">
        <img src="../../../../src/images/globe-icon.png" style="width: 75px; height: 75px;">
        <label>
          Solution for Trade Schools &
          Higher Education
        </label>
        <p class="pad-t-10">
          We are providing you our best teachers in the school so you can see
          them online about thier progress
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="pad-20 font-size-15">
        <img src="../../../../src/images/student-icon.png" style="width: 75px; height: 75px;">
        <label>
          Solution for Hybrid and On-
          line (virtual) Schools
        </label>
        <p class="pad-t-10">
          We are providing you our best teachers in the school so you can see
          them online about thier progress
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="pad-20 font-size-15">
        <img src="../../../../src/images/helth-icon.png" style="width: 75px; height: 75px;">
        <label>
          Solution for Healthcare
          (Patient Education)
        </label>
        <p class="pad-t-10">
          We are providing you our best teachers in the school so you can see
          them online about thier progress
        </p>
      </div>
    </div>
  </div>

  <!--For campuses information-->
  <div class="row bg-color-gery text-center pad-t-20">
    <div class="col-md-12">
      <label class="font-size-25">
        IAH Campuses
      </label>
    </div>
    <div class="row text-center pad-t-10 pad-l-15 pad-r-15">
      <div class="col-md-4">
        <div class="pad-20 pad-b-0">
          <img src="../../../../src/images/xvs_school_building.jpg" style="width: 300px; height: 200px;">
          <label class="font-size-20 pad-t-10">
            Bahadurabad Campus
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pad-20">
          <img src="../../../../src/images/main_cam.jpg" style="width: 300px; height: 200px;">
          <label class="font-size-20 pad-t-10">
            Main Campus
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pad-20">
          <img src="../../../../src/images/RD-RW-DVD-11-0085.jpg" style="width: 300px; height: 200px;">
          <label class="font-size-20 pad-t-10">
            North Karachi Campus
          </label>
        </div>
      </div>
    </div>
  </div>

  <!--Iah school partners reviews -->
  <div class="row">
    <div class="col-md-12" style="padding: 0px !important;">
      <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="row" style="margin-right: 10%">
              <div class="col-md-4 pad-t-10 pad-b-10" style="text-align: right">
                <img src="../../../../src/images/afzal.jpg" alt="" class="circle-class ">
              </div>
              <div class="col-md-8 pad-t-10 pad-b-10">
                <blockquote>
                  <p>
                    jsdvk dkvdf iogfh e pverjpg spg sih fpiuf g iyaof e owuf  wo oqifj wpgw wohwo fpwfjpirgoe pohgoe o g3 ue
                    dkglkdg lsfhg lehfo oisfh oiovheos oqahfuoeh89f e nelg ovj ethp pejgoigijd borhfoehgofhe vehtgioegoerihg
                    jkdbfjkebvb  ufhohfgu ohfcuoerhfgo orghushffowhf lsfn eohwodheurhgi sowpub ejfbiwy gpeghoehfiowj oe goehgoe.
                  </p>
                  <small>Syed Afzal Hasan(COO)</small>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row" style="margin-right: 10%">
              <div class="col-md-4 text-center pad-t-10 pad-b-10" style="text-align: right">
                <img src="../../../../src/images/idrees.jpg" alt="" class="circle-class">
              </div>
              <div class="col-md-8 pad-t-10 pad-b-10">
                <blockquote>
                  <p>
                    jsdvk dkvdf iogfh e pverjpg spg sih fpiuf g iyaof e owuf  wo oqifj wpgw wohwo fpwfjpirgoe pohgoe o g3 \ue
                    dkglkdg lsfhg lehfo oisfh oiovheos oqahfuoeh89f e nelg ovj ethp pejgoigijd borhfoehgofhe vehtgioegoerihg \
                    jkdbfjkebvb  ufhohfgu ohfcuoerhfgo orghushffowhf lsfn eohwodheurhgi sowpub ejfbiwy gpeghoehfiowj oe goehgoe.
                  </p>
                  <small>Idrees Shabbir(CEO)</small>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row" style="margin-right: 10%">
              <div class="col-md-4 text-center pad-t-10 pad-b-10" style="text-align: right">
                <img src="../../../../src/images/haris.jpg" alt="" class="circle-class">
              </div>
              <div class="col-md-8  pad-t-10 pad-b-10">
                <blockquote>
                  <p>
                    jsdvk dkvdf iogfh e pverjpg spg sih fpiuf g iyaof e owuf  wo oqifj wpgw wohwo fpwfjpirgoe pohgoe o g3 \ue\
                    dkglkdg lsfhg lehfo oisfh oiovheos oqahfuoeh89f e nelg ovj ethp pejgoigijd borhfoehgofhe vehtgioegoerihg \
                    jkdbfjkebvb  ufhohfgu ohfcuoerhfgo orghushffowhf lsfn eohwodheurhgi sowpub ejfbiwy gpeghoehfiowj oe goehgoe.
                  </p>
                  <small>Haris Wakeel(Co-Founder)</small>
                </blockquote>
              </div>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
          <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
          <!--<span class="sr-only">Previous</span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
          <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
          <!--<span class="sr-only">Next</span>-->
        <!--</a>-->
      </div>
    </div>
  </div>

  <!--Home footer-->
  <div class="row bg-color-black color-wh-gr pad-20">
    <div class="col-md-6">
      Copyright © Idrees Afzal Haris(IAH) for Education, Inc. All Rights Reserved.
    </div>
    <div class="col-md-6">
      <ul>
        <li style="display: inline;" class="pad-l-10">      <a href="#" style="text-decoration: none; color: inherit">Site Map</a>
        </li>
        <li style="display: inline;" class="pad-l-10">      <a href="#">Privacy Policy</a>
        </li>
        <li style="display: inline;" class="pad-l-10">      <a href="#">Terms of Service</a>
        </li>
        <li style="display: inline;" class="pad-l-10">      <a href="#">Contact Us</a>
        </li>
        <li style="display: inline;" class="pad-l-10">      <a href="#">Home</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<!--<div class="container">-->
  <!--<div class="title" style="text-align: center; font-family: Helvetica, Arial,SansSerif"> <img src="../../../../src/images/iah_scholl_logo.png" style="height: 200px">   </div>-->
  <!--<pre style="font-size: large; font-family:Arial; text-align: center">-->
    <!--This is School Managment system,for the ease of staff to manage all the domains of the school  easily including-->
    <!--USER Managment,Campus Managment,class Managment,Fees Managment Etc-->
	 <!--</pre>-->
<!--</div>-->






<!--<div class="wrapper">-->
  <!--<div id="three-column" class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-1"></div>-->
      <!--<div id="tbox1" class="col-lg-2" style="text-align: center;">-->
        <!--<div class="title">-->
          <!--<h2>About School</h2>-->
        <!--</div>-->
        <!--<p>We hired the best faculty of town for the studies of the student and we highly ranked in the list of Higher education commision</p>-->
        <!--<a href="#" class="button" >Learn More</a>-->
      <!--</div>-->

      <!--<div class="col-lg-2"></div>-->

      <!--<div id="tbox2" class="col-lg-2" style="text-align: center">-->
        <!--<div class="title">-->
          <!--<h2>About System</h2>-->
        <!--</div>-->
        <!--<p>This Managment system is built for the school staff so that they manage school activites in good maner.</p>-->
        <!--<a href="#" class="button">Learn More</a>-->
      <!--</div>-->
      <!--<div class="col-lg-2"></div>-->

      <!--<div id="tbox3" class="col-lg-2" style="text-align: center">-->
        <!--<div class="title">-->
          <!--<h2>Admissions</h2>-->
        <!--</div>-->
        <!--<p>We starts our admission process at the end of every year. So if you are intrested please contact us</p>-->
        <!--<a href="#" class="button">Learn More</a>-->
      <!--</div>-->
      <!--<div class="col-lg-1"></div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div id="portfolio" class="container" >-->

    <!--<div class="row">-->
      <!--<div class="col-lg-1"></div>-->
      <!--<div class="column1 col-lg-2" style="text-align: center">-->
        <!--<div class="box"> <a href="#"><img src="../../../../src/images/img01.png" style="width: 200px; height: auto;" alt="" class="image image-full" /></a>-->
          <!--<h3 style="text-align: center">Individual Attention</h3>-->
          <!--<p style="text-align: center">Our faculty gives individual attention to every student</p>-->
          <!--<a href="#" class="button button-small" style="text-align: center">Learn more</a> </div>-->
      <!--</div>-->

      <!--<div class="col-lg-2"></div>-->

      <!--<div class="column2 col-lg-2" style="text-align: center">-->
        <!--<div class="box"> <a href="#"><img src="../../../../src/images/img02.png" style="width: 200px; height: auto;" alt="" class="image image-full" /></a>-->
          <!--<h3 style="text-align: center">Details About SMS</h3>-->
          <!--<p style="text-align: center">Click Below to get the details of School Managment System</p>-->
          <!--<a href="#" class="button button-small" style="text-align: center">learn more</a> </div>-->
      <!--</div>-->
      <!--<div class="col-lg-2"></div>-->

      <!--<div class="column3 col-lg-2" style="text-align: center">-->
        <!--<div class="box"> <a href="#"><img src="../../../../src/images/img03.png" style="width: 200px; height: auto;" alt="" class="image image-full" /></a>-->
          <!--<h3 style="text-align: center">Students cariculum</h3>-->
          <!--<p style="text-align: center">All details about student activities and cariculum.</p>-->
          <!--<a href="#" class="button button-small" style="text-align: center">learn more</a> </div>-->
      <!--</div>-->
      <!--<div class="col-lg-1"></div>-->
      <!--&lt;!&ndash;<div class="column4 col-lg-3">-->
        <!--<div class="box"> <a href="#"><img src="../../../../src/images/img04.png " style="width: 200px; height: auto;" alt="" class="image image-full" /></a>-->
          <!--<h3>Results Details</h3>-->
          <!--<p>To check the announcments of results please click below</p>-->
          <!--<a href="#" class="button button-small">learn more</a> </div>-->
      <!--</div>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


