<!--========================================================
                          HEADER
=========================================================-->

<nav class="navbar navbar-inverse" style="margin-bottom: 0px; !important;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="../../src/images/iah_scholl_logo.png" class="width-50 height-50">
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['home']">Home</a></li>
        <li><a [routerLink]="['announcements']">Announcements</a></li>
        <li><a [routerLink]="['contact-us']">Contact-us</a></li>
        <li><a [routerLink]="['courses']">Courses</a></li>
        <li *ngIf="!loginChangeState()"><a [routerLink]="['login']">Login</a></li>

        <li *ngIf="(loginChangeState() && role=='Student')"><a [routerLink]="['profile',this.authenticationService.parameter,'student']">Profile</a></li>
        <!--<li><a [routerLink]="['profile',this.authenticationService.parameter,'student']">Profile</a></li>-->

        <!--<li><a [routerLink]="['profile',this.authenticationService.parameter,'admin']">Admin Panel</a></li>-->
        <li *ngIf="(loginChangeState() && role=='Admin')"><a [routerLink]="['profile',this.authenticationService.parameter,'admin']">Admin Panel</a></li>

        <li *ngIf="(loginChangeState() && role=='Staff')"><a [routerLink]="['profile',this.authenticationService.parameter,'staff']">Staff Panel</a></li>

      </ul>
      <!--<form class="navbar-form navbar-left" role="search">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a href="#">Link</a></li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>

<!--========================================================
                          CONTENT
=========================================================-->


<router-outlet></router-outlet>


<!--========================================================
                          FOOTER
=========================================================-->


<!--TODO: FOOTER GUI-->
