<div class="parallax">

<section id="content"style="height: 610px">
  <div class="container">
    <div class="container-fluid width-370">

      <!--USED PANEL FOR LOGIN-->
      <div class="panel panel-primary signup-centerClass">
        <div class="panel-heading">
          <h2 class="panel-title text-center">IAH Login</h2>
        </div>

        <div class="panel-body">
          <form  #loginForm="ngForm">
            <div class="form-group">
              <label class="pad-l-15">Login Id :
                <font color="#FF6600">*</font>
              </label>
              <div class="col-lg-10" style="width: 100%">
                <input type="text" id="st_id"
                       required
                       minlength="4"
                       maxlength="24"
                       name="st_id"
                       [(ngModel)]="st_id"
                       #stud_id="ngModel" >
                <div *ngIf="stud_id?.errors && (stud_id?.dirty || stud_id?.touched)"
                     class="invalid-danger">
                  <div [hidden]="!stud_id?.errors.required">
                    ID is required
                  </div>
                  <div [hidden]="!stud_id?.errors.minlength">
                    Minimum length is 4
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="pad-l-15">Password :
                <font color="#FF6600">*</font>
              </label>
              <div class="col-lg-10" style="width: 100%">
                <input type="password"
                       id="password"
                       required
                       minlength="4"
                       maxlength="24"
                       name="password"
                       [(ngModel)]="password"
                       #pass="ngModel" >
                <div *ngIf="pass?.errors && (pass?.dirty || pass?.touched)"
                     class="invalid-danger">
                  <div [hidden]="!pass?.errors.required">
                    Name is required
                  </div>
                  <div [hidden]="!pass?.errors.minlength">
                    Name must be at least 4 characters long.
                  </div>
                  <div [hidden]="!pass?.errors.maxlength">
                    Name cannot be more than 24 characters long.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="pad-l-15">Role :
                <font color="#FF6600">*</font>
              </label>
              <div class="col-lg-10">
                <select [(ngModel)]="role"
                        id="role"
                        name="role"
                        #rol="ngModel"
                        required
                        class="form-control width-280">
                  <option selected [value]="default" disabled>Select Role</option>
                  <option>Admin</option>
                  <!--<option>Teacher</option>-->
                  <option>Staff</option>
                  <option>Student</option>
                </select>
                <!--<div *ngIf="rol?.errors && (rol?.dirty || rol?.touched)"-->
                     <!--class="invalid-danger">-->
                  <!--<div [hidden]="!rol?.errors.required" style="text-align: center">-->
                    <!--Role required-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </div>

            <div class="form-group pad-t-40 pad-l-15">
              <button type="button" class="btn btn-success width-280" (click)="authentication()"
                      [disabled]="!loginForm.form.valid">Sign in</button>
            </div>
          </form>
        </div>

        <div class="panel-footer" style="text-align: center">
          <p style="color: #666; font-size: 15px; margin-top: 5px" >
            IAH<sup>&reg;</sup> scholl system a symbol of excellence
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
