.logo-img{
  width: 90px;
  height: 95px;
}

.logo-bgcolor{
  /*background-color: rgba(127,139,131,0.12);*/
  background-color:rgba(88,99,92,0.25)
}

.dark_blue{
  color: darkblue;
}
.cornflowerblue{
  color: cornflowerblue;
}

.signup-centerClass{
  left: 50%;
  position: absolute;
  top: 50% !important;
  transform: translate(-50%,-50%);
}

label{
  text-align: left;
  font-size: 18px;
  list-style-type: none;
  color: #666;
  margin-bottom: 4px;
  display: block;
}

input{
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background: #fbfbfb;
  width: 280px;
  font-size: 14px;
  text-align: left;
  -webkit-transition: all 100ms ease-out;
  -moz-transition: all 100ms ease-out;
  -o-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.loginform{
  position: absolute;
  width: 265px;
  margin-top: 10px;
}

.create-acc-btn{
  background-color: #98ca4d;
  width: 120px;
  height: 50px;
  text-align: center;
  font-family: 'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  width: 250px;
}

input.ng-invalid.ng-touched{
  border-left: 5px solid red;
}

input.ng-valid.ng-touched{
  border-left: 5px solid green;
}

select.ng-invalid.ng-touched{
  border: 1px solid red;
}

select.ng-valid.ng-touched{
  border: 1px solid green;
}

.invalid-danger{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: red;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.parallax {
  /* The image used */
  background-image: url("/src/images/ba.jpg");
  /*background-image: url("img/background/bg3.jpg");*/
  /* Set a specific height */
  height: 100%;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
