input.ng-invalid.ng-touched{
  border-left: 5px solid red;
}

input.ng-valid.ng-touched{
  border-left: 5px solid green;
}

select.ng-invalid.ng-touched{
  border: 1px solid red;
}

select.ng-valid.ng-touched{
  border: 1px solid green;
}

.invalid-danger{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: red;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/*.container-bg-img{*/
  /*background-image: url("../../../../src/images/ba.jpg");*/
  /*background-position:top;*/
  /*background-repeat: no-repeat;*/
  /*position: fixed;*/
/*}*/
.parallax {
  /* The image used */
  background-image: url("/src/images/ba.jpg");
  /*background-image: url("img/background/bg3.jpg");*/
  /* Set a specific height */
  height: 100%;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
