<div class="parallax">

<div class="container-fluid pad-t-20" style="height: 610px" >
  <div class="row">
    <div class="col col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4>IAH School Announcements</h4></div>
        <div class="panel-body">
          <div class="row">
            <h3 style="padding-left: 20px">Search by Campus Name :</h3>
            <form #announcemt="ngForm">
            <div class="col-md-10">
              <select [(ngModel)]="campus" name="campus" #camp="ngModel" required class="form-control selectpicker" required>
                <option selected [value]="default" disabled>Select Campus</option>
                <option>NazimabadCampus</option>
                <option>HighwayCampus</option>
              </select>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-blue" style="width: 100%; height: 40px; padding: 0px;" (click)="getAnnouncement(campus)"
              [disabled]="!announcemt.form.valid">Search</button>
            </div>
            </form>
          </div>

          <div *ngIf=showAnnouncement>
            <div *ngFor="let ann of announcementCampus">
              <div class="row">
                <div class="col-md-12">
                  <h1 style="color: #a2d0f6">{{ann.title}}</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>{{ann.detail}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Announcement created at {{ann.createdAt}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
</div>

</div>
