<div class="parallax">

<div class="container-fluid pad-t-20" style="height: 610px">
  <div class="row">
    <div class="col col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading"><h4>IAH School Courses</h4></div>
        <div class="panel-body">
          <div class="row">
            <form #announcemt="ngForm">
              <div class="col-md-5">
                <h3 style="padding-left: 0px">Course Name :</h3>
                <select [(ngModel)]="course" name="course" #cour="ngModel" required class="form-control selectpicker" required>
                  <option selected [value]="default" disabled>Select Course</option>
                  <option>Science</option>
                  <option>Mathematics</option>
                  <option>English</option>
                  <option>Urdu</option>
                  <option>Islamiat</option>
                </select>
              </div>

              <div class="col-md-5">
                <h3 style="padding-left: 0px">Class Name :</h3>
                <select [(ngModel)]="classn" name="classn" #cla="ngModel" required class="form-control selectpicker" required>
                  <option selected [value]="default" disabled>Select Class</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                </select>
              </div>

              <div class="col-md-2">
                <button type="button" class="btn btn-blue" style="width: 100%; height: 40px; padding: 0px; margin-top: 50px;" (click)="getCourses(course,classn)"
                        [disabled]="!announcemt.form.valid">Search</button>
              </div>
            </form>
          </div>

          <div *ngIf=showCourses>
            <div class="row" style="padding-left: 20px;">
              <div class="col-md-3" style="margin-top: 15px">
                <h4>{{courses.name}} {{courses.class}}</h4>
                <h4>Syllabus </h4>
                {{courses.syllabus}}
              </div>
              <div class="col-md-9">
                <h1>Teachers of {{courses.name}} {{courses.class}}</h1>
                <table class="table table-striped table-hover">
                  <thead>
                  <th>#</th>
                  <th>Name</th>
                  <th>Qualification</th>
                  <th>E-mail</th>
                  </thead>
                  <tbody>
                  <tr class="info" *ngFor="let teacher_result of courses.teachers let i = index">
                    <td>{{i}}</td>
                    <td>{{teacher_result.firstName}} {{teacher_result.lastName}}</td>
                    <td>{{teacher_result.qualification}}</td>
                    <td>{{teacher_result.email}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
