/* You can add global styles to this file, and also import other style files */

/*body{*/
  /*background-image: url("../src/images/ba.jpg");*/
/*}*/

a{
  text-decoration: none;
  color: inherit;
}

.navMan{
  background-color: #129894;
}

.width-400{
  width: 400px;
}

.width-370{
  width: 370px;
}

.width-280{
  width: 280px;
}

.width-50{
  width: 50px;
}

.height-50{
  height: 50px;
}

.pad-20{
  padding: 20px;
}

.pad-l-15{
  padding-left: 15px;
}
.pad-l-0{
  padding-left: 0px;
}
.pad-l-5{
  padding-left: 5px;
}

.pad-l-10{
  padding-left: 10px;
}

.pad-r-15{
  padding-right: 15px;
}

.pad-t-5{
  padding-top: 5px !important;
}

.pad-t-10{
  padding-top: 10px;
}

.pad-t-20{
  padding-top: 20px;
}

.pad-t-40{
  padding-top: 40px;
}

.pad-b-0{
  padding-bottom: 0px !important;
}

.pad-b-10{
  padding-bottom: 10px;
}

.margin-b-0{
  margin-bottom: 0px !important;
}

.margin-t-0{
  margin-top: 0px !important;
}

.margin-t-30{
  margin-top: 30px;
}
.margin-b-30{
  margin-bottom: 30px;
}

.margin-b-20{
  margin-bottom: 20px;
}

.margin-b-10{
  margin-bottom: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

.btn-blue {
  background: #3b5998;
  color: #fff;
  font-size: 16px;
  padding: 14px 9px;
  border: 1px solid #3b5998;
  transition: all .5s; }

.btn-blue:hover {
  color: #3b5998;
  background: #fff; }


.btn-red {
  background: #b94a48;
  color: #fff;
  font-size: 16px;
  /*padding: 14px 9px;*/
  border: 1px solid #b94a48;
  transition: all .5s; }

.btn-red:hover {
  color: #b94a48;
  background: #fff; }

.nav-position{
  position: fixed;
  background-position: top;
  width: 100%;
  height: 50px;
}

.bg-color-gery{
  background-color: #f1f1f1;
}

.bg-color-black{
  background-color: #1c1d1d;
}

.bg-color-green{
  background-color: green;
}

.font-size-25{
  font-size: 25px;
}

.font-size-20{
   font-size: 20px;
 }

.fo.font-size-18{
  font-size: 18px !important;
}

.font-size-15{
  font-size: 15px;
}

.color-wh-gr{
  color: #626666;
}
.class-btn{
  position: relative;
  float: left;
  height: 30px;
}
.color-red{
  color: red;
  font-size: 12px;
}
.invalid-danger-2{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: red;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.glyph-bg{
  background-color: #a2d0f6;
}

.padding-left-35{
  padding-left: 35px;
}
.parallax {
  /* The image used */
  background-image: url("/src/images/ba.jpg");
  /*background-image: url("img/background/bg3.jpg");*/
  /* Set a specific height */
  height: 100%;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
